.container {
  width: 100%;
  background-color: #fafafa;
  padding: 20px 10px;
  .ball-selected {
    margin: 20px 0;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }
}
