<div class="container">
  <h3>Select a number</h3>
  <div class="balls">
    <gr-balls (onClick)="selectNumber($event)" [colors]="colors" [balls]="balls | async" [clickable]="true"></gr-balls>
  </div>

  <div *ngIf="ballSelected; else: selectBall" class="selection-container">
    <div class="ball-selected">
      <gr-ball
        [number]="ballSelected"
        [bgColor]="colors[ballSelected]?.background"
        [color]="colors[ballSelected]?.font"
        [size]="54"
      ></gr-ball>
    </div>

    <div class="btn-container"><button gr-button (click)="clearSelection()">Clear Selection</button></div>
  </div>
</div>

<ng-template #selectBall>
  <div class="ball-selected"><h2>Please select a ball</h2></div>
</ng-template>
