<div class="container">
  <div class="label">
    <label [for]="name">{{ label }}</label>
  </div>
  <div class="input"><input [value]="value" (input)="change($event)" [type]="type" [placeholder]="placeholder" /></div>
  <div *ngIf="error" class="error"><p>{{ error }}</p></div>
</div>
