.container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: lightgrey;
  position: relative;
  .label {
    text-align: center;
    padding: 0 5px;
    min-width: 3em;
    font-size: 14px;
    font-weight: bold;
  }
  .input {
    input {
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: none;
      font-size: 1rem;
      height: 2.25em;
      padding: 0 5px;
      background-color: #fff;
      border-color: #dbdbdb;
      color: #363636;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      max-width: 10;
    }
  }
  .error {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.25rem;
    font-size: 13px;
    color: #ff3860;
    opacity: .8;
    p {
      margin: 0;
      width: 100%;
    }
  }
}
