<div *ngIf="showModal" class="container">
  <div class="content">
    <div class="text"><h1>{{ msg }}</h1></div>
    <div *ngIf="ballNumber" class="ball">
      <gr-ball
        [bgColor]="colors[ballNumber]?.background"
        [color]="colors[ballNumber]?.font"
        [number]="ballNumber"
        [size]="72"
      ></gr-ball>
    </div>
    <div class="button">
      <button (click)="close()" gr-button>{{ btnText }}</button>
    </div>
  </div>
</div>
