.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .7);
  .content {
    width: 70%;
    padding: 40px 20px;
    background-color: #fafafa;
    border-radius: 10px;
    .button, .ball, .text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .button {
      margin-top: 20px;
    }
    .text {
      text-align: center;
    }
  }
}
