.container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  .content {
    padding: 10px;
    flex-grow: 1;
    &.left {
      flex-basis: 60%;
    }
    &.right {
      flex-basis: 40%
    }
  }
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
    min-height: auto;
    .content {
      flex-grow: 0;
    }
  }
}
