<div class="container">
  <div class="content left"><gr-ball-selector></gr-ball-selector></div>
  <div class="content right"><gr-bet-slip (onPlay)="play()"></gr-bet-slip></div>
</div>

<gr-modal></gr-modal>
