.button {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 1rem;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  color: #363636;
  background-color: #00d1b2;
  color: #fff;
}

:host {
  cursor: pointer;

  &.full {
    width: 100%;
    .button {
      width: 100%;
    }
  }
  &:hover {
    .button {
      background-color: #00c4a7;
    }
  }
  &:focus {
    .button {
      box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
    }
  }
  &:active {
    .button {
      background-color: #00b89c;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    .button {
      opacity: 0.5;
      background-color: #00d1b2;
    }
  }
}
