.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid lightslategray;
  background-color: lightgray;
  margin: 2px;
}
