/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: Cantarell, 'Avenir', Helvetica, Arial, sans-serif;
}

/* Reset button style */
button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
  background: none;
  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
  &::-moz-focusring {
    outline: 1px dotted;
  }
}
