.container {
  width: 100%;
  background-color: #fafafa;
  padding: 20px 10px;

  .selector {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gr-input {
      margin-right: 10px;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin-left: 20px;
    }
  }
}
