<div class="container">
  <h3>History {{ history.length ? '' : 'is empty' }}</h3>
  <div class="history"><gr-balls [balls]="history" [colors]="colors"></gr-balls></div>

  <form [formGroup]="formGroup" (submit)="submit()" class="selector">
    <gr-input formControlName="stake" placeholder="Stake" label="1.5x" type="number" [error]="inputError"></gr-input>
    <button type="submit" [disabled]="this.formGroup.invalid" gr-button>Ok</button>
  </form>
  <div class="info bet">
    <h3>Your bet:</h3>
    <p>{{ stake || 0 }}€</p>
  </div>

  <div class="info amount">
    <h3>Total Amount:</h3>
    <p>{{ amount || 0 }}€</p>
  </div>

  <div class="play-button">
    <button gr-button [disabled]="!buttonEnable" [full]="true" (click)="play()">Play!</button>
  </div>
</div>
